// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

video {
    height:100vh;
    width:100vw;
    background:#fff;
    color:#000;
}

